@import "variables";

@mixin btn-sm-size {
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
}

@mixin btn-with-count-border {
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin social-count-placement {
  float: left;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid rgba(27,31,35,.2);
  border-left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

@mixin forkio-services-title-property {
  font-family: $font-montserrat;
  font-size: $forkio-services-item-title-size;
  color: $forkio-services-item-title-color;
  text-align: left;
}

@mixin forkio-services-text-property {
  font-family: $font-montserrat;
  font-size: $forkio-services-item-text-size;
  color: $forkio-services-item-text-color;
  text-align: left;
}

@mixin forkio-item-box-placement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

@mixin services-logo-property {
  width: 20%;
  height: 85px;
  background-repeat: no-repeat;
}

@mixin flexbox-properties {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin per-month-mix {
  font-size: $per-month-size;
  font-family: $font-montserrat;
  color: rgba(255,255,255,255);
  text-align: center;
  opacity: 0.5;
}

@mixin per-license-mix {
  font-family: $font-montserrat;
  font-size: $per-month-size + 0.5;
  color: rgba(255,255,255,255);
  text-align: center;
}

@mixin cards-line-mix {
  width: 60px;
  height: 15px;
  border-bottom: 5px solid #8d81ac;
  margin: 0 auto;
  margin-bottom: 15px;
}