$font-lato: 'Lato', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$width-forkio:1280px;

$rev-edit-color-text:#635c73;

$rev-edit-size-title:39.6pt;
$rev-edit-size-text:15.4pt;
$rev-edit-size-title-mobile:30.81pt;
$rev-edit-size-text-mobile:15.41pt;

$button-elements-color:#24292e;
$button-elements-background-color:#eff3f6;
$button-elements-background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);

$desc-tools-box-color:#f4f4f4;

$here-what-you-get-title-color:#8d81ac;
$here-what-you-get-title-size:35.21pt;
$here-what-you-get-title-mobile-size:30.81pt;

$forkio-services-item-title-size:11.7pt;
$forkio-services-item-title-color:#4c4c4c;
$forkio-services-item-text-size:10.27pt;
$forkio-services-item-text-color:#8b959d;
$forkio-services-item-title-mobile-size:11.74pt;
$forkio-services-item-text-mobile-size:10.27pt;

$subscribtion-title-color:#ffffff;

$title-price-cards-size:17.60pt;

$per-month-size:10.33pt;
